[Unit]
Description=Run calendar collector every 60 minutes
Requires=calendar-collector.service

[Timer]
OnCalendar=*-*-* */1:00:00
Persistent=true
RandomizedDelaySec=120

[Install]
WantedBy=timers.target