[Unit]
Description=Run power collector every 5 minutes
Requires=power-collector.service

[Timer]
OnCalendar=*:0/5
Persistent=true
RandomizedDelaySec=30

[Install]
WantedBy=timers.target