<header class="site-header">
  <!-- <h1><a id="top" href="/">{{ site.Title }}</a></h1> -->
  <a id="top" href='/'>
    <img class="sf_logo svg_filter_green" src="/icons/seq_fab_logo_simplified.svg" type="image/svg+xml" alt="{{ site.Title }}"/>
  </a>
  <div class="subtitle">{{ .Site.Params.description }}</div>
  <div class="subtitle"><a href='/power'>This is a solar powered website. It may go offline!</a></div>

<div class="nav-status-bar">
  {{ partial "nav" . }}
  <div class="battery-widget">
    {{ partial "battery" . }}
  </div>
</div>
</header>
