<div class="status-bar" id="status-bar">
  <span class="status-item" id="status-battery">
    <span class="status-icon">&#x1F50B;</span>
    <span class="status-value" id="status-battery-value">--</span>
  </span>
  <span class="status-separator">&bull;</span>
  <span class="status-item" id="status-power">
    <span class="status-value" id="status-power-value">--</span>
  </span>
  <span class="status-separator">&bull;</span>
  <span class="status-item" id="status-weather">
    <span class="status-icon" id="status-weather-icon">&#x2600;&#xFE0F;</span>
    <span class="status-value" id="status-weather-value">--</span>
  </span>
  <span class="status-separator">&bull;</span>
  <span class="status-item" id="status-uptime">
    <span class="status-label">Uptime:</span>
    <span class="status-value" id="status-uptime-value">--</span>
  </span>
</div>
